div .body {
  background-image: url('../image/1.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 1000px;
}

  
  form {
    margin: auto;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    padding: 20px;
    width: 400px;
    backdrop-filter: blur(20px); /* ajouter un flou à l'arrière-plan */
  }

  
  label {
    display: block; /* chaque label sur une ligne */
    margin-bottom: 10px; /* espacement entre les labels */
    font-size: 16px; /* taille de police par défaut */
  }
  
  input[type="text"],
  input[type="password"] {
    display: block; /* chaque champ sur une ligne */
    width: 100%; /* largeur maximale du champ */
    padding: 10px; /* espacement intérieur */
    margin-bottom: 20px; /* espacement entre les champs */
    border: none; /* pas de bordure */
    border-radius: 5px; /* coins arrondis */
    background-color: #eee; /* couleur de fond gris clair */
    font-size: 16px; /* taille de police par défaut */
  }
  
  input[type="submit"] {
    display: block; 
    margin: auto;  
     padding: 10px 20px;
    border: none;
     border-radius: 5px; 
    background-color: #444; 
    color: #fff;  
    font-size: 16px; 
    cursor: pointer; }

  input[type="email"] {
    display: block; 
    width: 100%; 
    padding: 10px; 
    margin-bottom: 20px; 
    border: none; 
    border-radius: 5px; 
    background-color: #eee; 
    font-size: 16px; 
  }
  

  p {
    color: rgb(0, 0, 0);
    font-size: 20px;
  }
  
  a{
  
    color: rgb(255, 255, 255);
  }
  
  #popup_account_notfound{
    visibility: hidden; 
    background-color: rgba(0, 0, 0, 0.2);
    width: 100%;
    top: 0;
    left: 0;
    height: 100vh;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  
  #text_popup_account_notfound{
    position: relative;
    padding: 32px;
    width: 100%;
    max-width: 640px;
    height: 100px;
    background-color: white;
  }
  
  #account_notfound_pop_button{
    background-color: #333;
    color: white;
    position: absolute;
    top: 580px;
    left: 954px;
    cursor: pointer;
    border-radius: 4px;
  }
  
  
  #account_notfound_pop_button:hover{
    background-color: #2e2e2e;
  }