<!DOCTYPE html>
<html>
<head>
	<title>À propos de notre site</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="propos.css">
</head>
<body>
	<header>
		<img class="header-logo" src="logo.png" alt="Logo" />
		<div class="return-button-section">
			<button class="return-button">Accueil</button>
		</div>
		<div class="logout-button-profile-section">
			<button class="logout-button-profile">Déconnexion</button>
		</div>
	</header>
	<main>
		<h2>Qui sommes-nous ?</h2>
		<p>Nous sommes deux Etudiants en licence d'informatique à la Sorbonne, Nous avons développé ce site dans le cadre d'un projet universitaire qui visait à créer un réseau social.
			 Nous avons mis en pratique les connaissances acquises lors de nos études en utilisant des technologies telles que HTML, CSS, JavaScript et MongoDB.
			 L'objectif était de créer une plateforme permettant aux utilisateurs de se connecter, de partager des publications et d'ajouter des amis. </p>
		<h2>Nos réseaux sociaux</h2>
		<ul>
			<li>Wassim Mussard - <a href="https://www.linkedin.com/in/wassim-mussard/" target="_blank">LinkedIn</a> - <a href="https://github.com/wassimmussard" target="_blank">GitHub</a></li>
			<li>Adan Zerrad - <a href="https://www.linkedin.com/in/adan-zerrad/" target="_blank">LinkedIn</a> - <a href="https://github.com/adanzerrad" target="_blank">GitHub</a></li>
		</ul>
	</main>
</body>
</html>
